/dataset/processed/X_train.npy filter=lfs diff=lfs merge=lfs -text
/dataset/processed/X_val.npy filter=lfs diff=lfs merge=lfs -text
/dataset/raw/environmental-sound-classification-50.zip filter=lfs diff=lfs merge=lfs -text
